<div id="wrapper" class="text-center">

    <div id="leaderboardsHeader">
        <h2 id="leaderboardsMainTitle">
            LEADERBOARDS:
        </h2>
        <p id="leaderboardInstructions">CLICK A BUTTON BELOW TO CHANGE VIEW!</p>
    </div>

    <div id="leaderboardButtons" class="text-center">
        <div class="row">
            <div class="col">
                <button class="btn btn-primary leaderboardButton all" style="width: 100%" data-target="#allLeaderboardDiv" data-toggle="collapse"
                    aria-expanded="false" aria-controls="allLeaderboardDiv">ALL</button>
            </div>
            <div class="col">
                <button class="btn btn-warning leaderboardButton animals" style="width: 100%" data-target="#animalsLeaderboardDiv" data-toggle="collapse"
                    aria-expanded="false" aria-controls="animalsLeaderboardDiv">&#128049;</button>
            </div>
            <div class="col">
                <button class="btn btn-danger leaderboardButton movies" style="width: 100%" data-target="#moviesLeaderboardDiv" data-toggle="collapse"
                    aria-expanded="false" aria-controls="moviesLeaderboardDiv">&#127916;</button>
            </div>
            <div class="col">
                    <button class="btn btn-success leaderboardButton sports" style="width: 100%" data-target="#sportsLeaderboardDiv" data-toggle="collapse"
                        aria-expanded="false" aria-controls="sportsLeaderboardDiv">&#127944;</button>
                </div>
        </div>
    </div>

    <div id="leaderboardsDiv" class="text-center">

        <div id="allLeaderboardDiv" class="collapse show text-center">
            <h2 class="tableTitle">
                <span class="titleEmoji">&#127941;&#127942;</span> 
                ALL
                <span class="titleEmoji">&#127942;&#127941;</span></h2>
            <table class="table table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>USER</th>
                        <th>CATEGORY</th>
                        <th>SCORE</th>
                    </tr>
                </thead>
                <tbody>
                    {{> leaderboards/leaderboards}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>

</script>