<div id="home">
    <div class="container">
        <div class="row" id="member-row">
            <div class="col-sm-5" id="avatar-col">
                <h1>{{email}}</h1>
                {{!-- <img id="default-image"
                    src="https://previews.123rf.com/images/nexusby/nexusby1810/nexusby181000286/111362910-default-avatar-placeholder-profile-icon-male.jpg">
                <br>
                <h2>Your nickname</h2>
                <br>
                <h3>Your email</h3> --}}
            </div>
            <div class="col-sm-7" id="stats-col">
                {{!-- <h1>Your Profile</h1>
                <hr>
                <div id="total-points">
                    <h2>Your total points</h2>
                </div>
                <div id="total-questions">
                    <h2>Total questions answered</h2>
                </div>
                <div id="percentage-correct">
                    <h2>Percentage correct</h2>
                </div>
                <div id="overall-ranking">
                    <h2>Overall ranking</h2>
                </div> --}}

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="public/js/index.js"></script>

<script src="public/js/members.js"></script>

