<div id="bodyWrapper">
    <div id= "userDiv" class="text-center">
        <span id="membersGreeting">
            <u><span id="username">
                USERNAME
            </span></u>
        </span>
        <img id="userImage" src="https://api.adorable.io/avatars/150/blank@adorable.io.png">
    </div>

    <div id="userScoresDiv" class="text-center">
        <h1 id="yourScores" class="membersText">YOUR SCORES:</h1>
        <h3 id="animalsScoreLabel" class="text-left scoreLabel">ANIMALS: <span id="userAnimalsScore">N/A</span>
            <button id="animalsPlayButton" class="btn btn-warning float-right" type="button">PLAY!</button></h3>
        <h3 id="moviesScoreLabel" class="text-left scoreLabel">MOVIES: <span id="userMoviesScore">N/A</span> 
            <button id="moviesPlayButton" class="btn btn-danger float-right" type="button">PLAY!</button></h3>
        <h3 id="sportsScoreLabel" class="text-left scoreLabel">SPORTS: <span id="userSportsScore">N/A</span> 
            <button id="sportsPlayButton" class="btn btn-success float-right" type="button">PLAY!</button></h3>
        <h3 id="geographyScoreLabel" class="text-left scoreLabel">GEOGRAPHY: <span id="userGeographyScore">N/A</span> 
            <button id="geographyPlayButton" class="btn btn-purple float-right" type="button">PLAY!</button></h3>
        <h3 id="musicScoreLabel" class="text-left scoreLabel">MUSIC: <span id="userMusicScore">N/A</span> 
            <button id="musicPlayButton" class="btn btn-info float-right" type="button">PLAY!</button></h3>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="public/js/index.js"></script>

<script src="js/members.js"></script>

