<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8">
<<<<<<< HEAD
                <div class="card" id="welcome-card">
                    <img src="https://i.ibb.co/zXZCQFJ/welcome-image.png" class="card-img-top" alt="...">
=======

                <div class="card" id="ready-card">
                    <img src="https://t3.ftcdn.net/jpg/01/27/70/38/240_F_127703800_FA120831uPIsmT3VYW84Vn2xor3ZVsQb.jpg"
                        class="card-img-top" alt="...">
>>>>>>> 7c4ea56f63fc1683c0f0ac7c84424d125e993fa5
                    <div class="card-body">
                        <h5 class="card-title">Click to start Trivia!</h5>
                        <form>
                            <button type="submit" class="btn btn-danger" id="start-btn">Start</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    
</script>