@font-face {
  font-family: 'Vintages';
  src: url("../styles/Vintages.woff2") format('woff2'),
      url("../styles/Vintages.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Vintages';
  background-color: #18D6B8;
}
h5 {
  font-size: 50px;
}
input {
  font-size: 25px;
}
label {
  font-size: 25px;
}
.list-group-item {
  line-height: 2.5;
}
.container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  height: 100vh;
}
#welcome-card {
  width: 26rem;
  border: 1px solid black;
}
#error-card {
  width: 35rem;
  border: 1px solid black;
}
#ready-card {
  width: 35rem;
  border: 1px solid black;
}
